/*Normalize your box model by creating a * selector and setting the box-sizing property to border-box as the value*/

* {
  box-sizing: border-box;
}

/*Your images are too big. Create a .gallery img selector to target them. Give them all a width of 100% and a max-width of 350px so they shrink as needed but don't get too big.
Also set the height property to 300px to keep your images a uniform size.*/

.gallery img {
  width: 100%;
  max-width: 350px;
  height: 300px;
}

/*Remove the margin from your body element, set the font-family to sans-serif, and give it a background-color of #f5f6f7 as the value*/

body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f5f6f7;
}

/*Align your .header text in the center. Make the text uppercase using the text-transform property with uppercase as the value.
Give it a padding of 32px on all sides. Set the background to #0a0a23 and the text to #fff as the color values.
Add a border-bottom with 4px solid #fdb347 as the value*/

.header {
  text-align: center;
  text-transform: uppercase;
  padding: 32px;
  background: #0a0a23;
  color: #fff;
  border-bottom: 4px solid #fdb347
}

/*Flexbox is a one-dimensional CSS layout that can control the way items are spaced out and aligned within a container.
To use it, give an element a display property of flex. This will make the element a flex container. Any direct children of a flex container are called flex items.
Create a .gallery selector and make it a flex container*/

.gallery {
  display: flex;
}